.elements__list{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(282px, 1fr) ); 
    gap:  20px 18px;
    padding: 0;
}



@media screen and (max-width: 480px){
    .elements__list{
        margin-left: 20px;
        margin-right: 20px;
        }
}
